body{
    background-color:#21130d;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: row;
    flex-direction: column;
    
    
}
div{
    min-height: 200px;
    margin-bottom: 100px;
}
.navbar{
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    
    width: 100%;
    padding: 0%;
}
.flag{
    height: 50px;
    width: 100px;
    justify-content: center;
    border-radius: 25px;
}
input{
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 30px;
}
.input-container{
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    border-radius: 30px;
    position: relative;
}
.container-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0  42px;
    height: 60px;
    text-align: center;
    left: 50px;
    font-size: 24px;
    border: unset;
    border-radius: 20px;
    box-shadow: #21130d;
    cursor: pointer;
}
#euro-to-dollar{
    
    justify-content: flex-end;
    flex-flow: flex-end wrap;
}

#dollar-to-euro{
    
    justify-content: flex-end;
    flex-flow: flex-end wrap;

}
#main{
    display: flex;
    justify-content: space-around;
}
.menu{
    margin-left: 20px;
}